
body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f0;
    color: #88004d;
    margin: 0;
    padding: 0;
}

main, section {
    padding: 30px;
}


.imagen-contenedor {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

img {
    width: 200px;
    border-radius: 50%;
    border: 4px solid #ff3399;
}

input, textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ff99cc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ff66b3;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #ff3399;
}


